:root {
    --fond-color: #212121;
    --accent-color: #2196F3;
    --main-text: #FFFFFF;
    --p-text: #757575;
    --background-btn: #2196F3;
    --text-btn: #FFFFFF;
    --accent-btn: #188CE8;
    --color-logo: #2196F3;
    --color-logo-accent: #000000;
    --background-color: #F5F4FA;
    --footer-color:  #2F303A;
    --light-grey: #EEEEEE;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(accent-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*-------------HEADER------------*/

.header {
    background-color: var(--main-text);
    border: 1px solid #ECECEC;
    padding-top: 32px;
}

.header > .container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo, .header-logo-accent {
    padding: 32px 0;
    margin-right: 93px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-logo)
}

.header-logo-accent { 
    color: var(--color-logo-accent);
}

.header-list {
    display: flex;
}

.header-item:not(:first-child) {
    margin-left: 50px;
}

.header-list .header-item {
    display: block;
    padding: 32px 0;

    color: var(--fond-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.current {
    color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-contact-list {
    display: flex;
    margin-left: auto;
}

.header-mail {
    margin-right: 50px;
}

.header-mail, .header-tel {
    display: block;
    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--p-text)
}

.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

/*-------------MAIN------------*/

.main-page {
    background-color: var(--footer-color);
}

.btn-container {
    padding: 200px  280px;
    margin-bottom: 94px;
}
.main-title {
    text-align: center;
    max-width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-text);
}

.main-btn {
    display: block;
    margin: 30px auto 0;
    padding: 10px 32px;
    min-width: 216px;


    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    text-align: center;
    align-items: center;
    color: var(--text-btn);
    
    background-color: var(--background-btn);
    cursor: pointer;
}

.main-btn:hover,
.main-btn:focus {
    background-color: var(--accent-btn);
    color: var(--text-btn);
}

/*-------ПЕРЕВАГИ-------*/

.content-list {
    display: flex;
    gap: 30px;
}
.content-item {
    max-width: 270px;
}
.content-subtitle {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--fond-color);
}

.content-desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--p-text);
}

/*-------ЧИМ МИ ЗАЙМАЄМОСЯ-------*/

.main-images {
    padding-top: 0;
}
.images-title {
    margin-bottom: 50px;
    text-align: center;
}

.images-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--fond-color);
}

.images-list {
    display: flex;
    gap: 30px;
}

.images-item {
    width: calc(100% - 60px) / 3;
}

.images-img {
    display: block;
    height: auto;
    width: 100%;
}

/*-------НАША КОМАНДА-------*/

.team {
    background-color: var(--background-color);
}

.team-title {
    text-align: center;
}

.team-list {
    display: flex;
    padding-top: 50px;
    gap: 30px;
}

.team-item {
    padding-bottom: 30px;
    width: calc(100% - 90px) / 4; 

    background-color: var(--main-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;

    border-radius: 0px;
}

.team-subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--fond-color);
}

.team-desc {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--p-text);
}

/*-------------FOOTER------------*/

.footer {
    display: block;
    padding: 60px 0;
    background-color: var(--footer-color)
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}

    
.footer-logo,
.footer-logo-accent {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-logo);
}

.footer-logo-accent {
    color: var(--main-text);
}

.footer-address {
    font-style: normal;
}

.footer-list {
    display: block;
    gap: 9px;
}
.footer-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

.footer-mail,
.footer-tel  {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-mail:focus {
    color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
    color: var(--accent-color);
}

/*-------------------PORTFOLIO PAGE------------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.btn-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}


.btn-portfolio {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;

    border: 0;
    border-radius: 4px;
    color: var(--fond-color);
    background-color: var(--background-color);
    cursor: pointer;    
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: var(--background-btn);
    color: var(--text-btn);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-item {
    width: calc(100% - 60px) / 3;
}

.project-link {
    display: block;
} 

.project-img {
    display: block;
    max-width: 100%;
    height: auto;
    
}

.project-container {
    border: 1px solid var(--light-grey);
    background-color: var(--main-text);
    border-top: none;
    padding: 20px 23px;
}

.project-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--fond-color);
}

.project-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--p-text);
}